/*@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
*/
body {
  font-family: "Roboto", sans-serif;
  line-height: normal;
  line-height: 1.5;
}
.page-header {
  /*  Making header.page-header a Flex-container and aligning elements  */
  max-width: 1600px;
  display: flex;
  display: inline;
  border-bottom: 1px solid #ececec;
}
.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
}
.logo {
  margin: 24px 0px 25px 215px;
}
.item {
  display: flex;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: normal;
  line-height: 1.5;
}
.contact {
  
  margin: 32px 23px 32px 23px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.web {
  font-size: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
}
.studio {
  font-size: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
}
.stu {
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link {
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
}
.mailto {
  letter-spacing: 0.02em;
  color: #757575;
}
.mailto:hover,
.mailto:focus {
  color: #2196f3;
}
.tel1 {
  letter-spacing: 0.02em;
  color: #757575;
}
.tel1:hover,
.link:hover,
.tel1:focus,
.link:focus {
  color: #2196f3;
}
a {
  text-decoration: none;
  line-height: normal;
  line-height: 1.5;
}
.footer a:hover,
.footer a:focus {
  color: #2196f3;
}

.button:hover,
.button:focus {
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.buttons {
  display: inline-flex;
  justify-content: center;

  border-radius: 4px;
}
h3 {
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
  line-height: normal;
  line-height: 1.5;
}
.footer {
  background: #2f303a;
  line-height: 1.5;
}
.address {
  text-decoration: none;
  font-style: normal;
  text-decoration: none;
  background: #2f303a;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address a {
  font-style: normal;
  color: #ffffff;
}

.tel {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*
.m {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 90px;
  padding: 15px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  list-style-type: none;
  text-decoration: none;
}*/

/*  Set the width of the elements  
.el {
  
  flex-basis: calc((100% - 20px) / 3);
  display: inline;
}
*/
.el2 {
  /*  Set the width of the elements  /
  flex-basis: calc((100% - 20px) / 4);
  display: inline-block;
  gap: 15px;
}
to jest wazne
/*table with pictures
.container {
  flex-basis: calc((100% - 20px) / 3);
}
.img-set {
  display: flex;
  / Make a flex container multiline /
  flex-wrap: wrap;
  flex-basis: calc((100% - 20px) / 4);
  / Set gap between rows and columns /
  gap: 15px;
  list-style: none;
  align-content: space-evenly;
}

.lorem {
  flex-basis: calc((100% - 20px) / 4);
  display: flex;
  / Make a flex container multiline /
  flex-wrap: wrap;
  / Set gap between rows and columns /
  gap: 10px;
  / padding-left: 200px; /
  padding-right: 0;
  list-style: none;
  align-content: space-evenly;
}
.section1 {
  flex-basis: calc((100% - 20px) / 3);
  display: inline-block;
  padding: 10px;
}

.efficent {
  display: flex;
  justify-content: center;
}

.ourTeam {
  justify-content: center;
  align-items: center;
}
*/